# Project 3: Mapping NYC Affordable Housing
<br/>Using the NYC Open Data API to investigate and map the location of various types of affordable housing developments as recorded by the city's Department of Housing Preservation and Development (HPD).<br><br>
Will Frolich<br/>
SIPA Fall 2024<br/>
INAF U6006 Computing in Context

For this third and final project I knew I wanted to work with an aspect of the city's housing data. Given the attention the city's affordability, or lack thereof, has garnered from the press as well as my own lived experience of trying to find housing, I was curious to explore any of the available data on the subject. Initially, I looked at the publically available data from Streeteasy, which is fairly robust but is organized by their definition of neighborhoods and would have been difficult to connect to the city's community districts.

With further exploration I was able to find a dataset on the NYC OpenData site from NYC HPD that tracks the developments that qualify for one of two affordable housing plans the city has initiated and measures the number of units that qualify for certain income bands from 'Extremely Low Income' to 'Middle Income' as well as the type of unit from 'Studios' to multi-bedroom units.

- **Dataset(s) to be used:** [NYC Housing Development and Preservation Affordability Production Dataset](https://data.cityofnewyork.us/Housing-Development/Affordable-Housing-Production-by-Building/hg8x-zxpr/about_data)
- **Analysis question:** Where is the city building affordable housing? What community districts are seeing the biggest changes in affordable housing production since 2020? Are those community districts that are most in need, i.e., have the lowest median income, getting the necessary share of affordable housing units?
- **Columns that will (likely) be used:**
  - [Column 1]
  - [Column 2]
  - [etc]
- (If you're using multiple datasets) **Columns to be used to merge/join them:**
  - [Dataset 1] [column]
  - [Dataset 2] [column]
- **Hypothesis**: It is clear that the city has an affordability issue and is working to remedy the situation through measures like the City of Yes initiative. However, I hypothesize that the city likely isn't building affordable housing in the areas that are most in need.
- **Site URL:** [Homepage](https://wfrolich-computing-in-context.readthedocs.io/en/latest/index.html)

In [2]:
import plotly.io as pio

pio.renderers.default = "vscode+jupyterlab+notebook_connected"

I started by exploring the HPD data using the API documentation from the link here: [HPD Affordability API Documentation](https://dev.socrata.com/foundry/data.cityofnewyork.us/hg8x-zxpr).<br> Thankfully, the documenation offers clear instructions for how to access the data.

In [1]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy
import plotly.express as px
import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofnewyork.us", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cityofnewyork.us,
#                  MyAppToken,
#                  username="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("hg8x-zxpr", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [2]:
results_df

,project_id,project_name,project_start_date,building_id,house_number,street_name,borough,postcode,bbl,bin,...,_4_br_units,_5_br_units,_6_br_units,unknown_br_units,counted_rental_units,counted_homeownership_units,all_counted_units,total_units,project_completion_date,building_completion_date
0,68806,CADMAN PLAZA NORTH INC.PLP.FY24,2024-06-28T00:00:00.000,297417,140,CADMAN PLAZA WEST,Brooklyn,11201,3002120001,3001548,...,0,0,0,0,251,251,251,251,NaN,NaN
1,69431,LOS SURES SIP HDFC.GHPP.FY24,2024-06-28T00:00:00.000,234667,747,DRIGGS AVENUE,Brooklyn,11211,3024190007,3063130,...,0,0,0,0,21,0,21,21,NaN,NaN
2,69431,LOS SURES SIP HDFC.GHPP.FY24,2024-06-28T00:00:00.000,302578,262,GRAND STREET,Brooklyn,11211,3023940020,3062814,...,0,0,0,0,23,0,23,23,NaN,NaN
3,69431,LOS SURES SIP HDFC.GHPP.FY24,2024-06-28T00:00:00.000,371841,249,SOUTH 1 STREET,Brooklyn,11211,3023950025,3062831,...,0,0,0,0,17,0,17,17,NaN,NaN
4,69431,LOS SURES SIP HDFC.GHPP.FY24,2024-06-28T00:00:00.000,371960,184,SOUTH 2 STREET,Brooklyn,11211,3024190009,3063131,...,0,0,0,0,18,0,18,18,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,72228,27-10 37TH AVENUE,2021-12-02T00:00:00.000,424470,27-10,37 AVENUE,Queens,11101,4003697501,4623406,...,0,0,0,0,3,0,3,10,2023-03-16T00:00:00.000,2023-03-16T00:00:00.000
1996,71899,VITAL BROOKLYN- BDC PHASE 1A (C1-C2),2021-12-01T00:00:00.000,295521,888,FOUNTAIN AVENUE,Brooklyn,11239,3045860300,3327531,...,0,0,0,1,452,0,452,452,NaN,NaN
1997,69545,PARK AFFORDABLE.HPO.FY22,2021-11-30T00:00:00.000,149899,961,42 STREET,Brooklyn,11219,3055900052,3135559,...,0,0,0,0,35,0,35,35,NaN,NaN
1998,69545,PARK AFFORDABLE.HPO.FY22,2021-11-30T00:00:00.000,152184,983,46 STREET,Brooklyn,11219,3056130044,3136585,...,0,0,0,0,20,0,20,20,NaN,NaN
1999,69545,PARK AFFORDABLE.HPO.FY22,2021-11-30T00:00:00.000,152724,902,47 STREET,Brooklyn,11219,3056250005,3137062,...,0,0,0,0,42,0,42,42,NaN,NaN

As we saw during Lab 12, the NYC OpenData API limits the amount of data that is accessbiile at one time which requires the use of a pagination funciton to get into the rest of the dataset. Below I've used the pagination we used in Lab 12 and the results.

In [4]:
all_results = []
offset=0
while True:
    client = Socrata("data.cityofnewyork.us", None)
    results = client.get("hg8x-zxpr", limit=1000,offset=offset)
    offset = offset + 1000
    print(len(results),offset)
    all_results.extend(results)
    if len(results)<1000:
        break
all_results_df = pd.DataFrame.from_dict(all_results)
all_results_df

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.
WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

1000 1000

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

1000 2000

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

1000 3000

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

1000 4000

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

1000 5000

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

1000 6000

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

1000 7000
637 8000

,project_id,project_name,project_start_date,building_id,house_number,street_name,borough,postcode,bbl,bin,...,_4_br_units,_5_br_units,_6_br_units,unknown_br_units,counted_rental_units,counted_homeownership_units,all_counted_units,total_units,project_completion_date,building_completion_date
0,68806,CADMAN PLAZA NORTH INC.PLP.FY24,2024-06-28T00:00:00.000,297417,140,CADMAN PLAZA WEST,Brooklyn,11201,3002120001,3001548,...,0,0,0,0,251,251,251,251,NaN,NaN
1,69431,LOS SURES SIP HDFC.GHPP.FY24,2024-06-28T00:00:00.000,234667,747,DRIGGS AVENUE,Brooklyn,11211,3024190007,3063130,...,0,0,0,0,21,0,21,21,NaN,NaN
2,69431,LOS SURES SIP HDFC.GHPP.FY24,2024-06-28T00:00:00.000,302578,262,GRAND STREET,Brooklyn,11211,3023940020,3062814,...,0,0,0,0,23,0,23,23,NaN,NaN
3,69431,LOS SURES SIP HDFC.GHPP.FY24,2024-06-28T00:00:00.000,371841,249,SOUTH 1 STREET,Brooklyn,11211,3023950025,3062831,...,0,0,0,0,17,0,17,17,NaN,NaN
4,69431,LOS SURES SIP HDFC.GHPP.FY24,2024-06-28T00:00:00.000,371960,184,SOUTH 2 STREET,Brooklyn,11211,3024190009,3063131,...,0,0,0,0,18,0,18,18,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7632,55697,CONFIDENTIAL,2014-01-14T00:00:00.000,NaN,----,----,Brooklyn,NaN,NaN,NaN,...,0,0,0,1,1,1,1,1,2014-01-14T00:00:00.000,2014-01-14T00:00:00.000
7633,55773,CONFIDENTIAL,2014-01-10T00:00:00.000,NaN,----,----,Staten Island,NaN,NaN,NaN,...,0,0,0,1,1,1,1,1,2014-01-10T00:00:00.000,2014-01-10T00:00:00.000
7634,57341,CONFIDENTIAL,2014-01-10T00:00:00.000,NaN,----,----,Staten Island,NaN,NaN,NaN,...,0,0,0,1,1,1,1,1,2014-01-10T00:00:00.000,2014-01-10T00:00:00.000
7635,55647,CONFIDENTIAL,2014-01-07T00:00:00.000,NaN,----,----,Brooklyn,NaN,NaN,NaN,...,0,0,0,1,1,1,1,1,2014-01-07T00:00:00.000,2014-01-07T00:00:00.000
7636,55759,CONFIDENTIAL,2014-01-03T00:00:00.000,NaN,----,----,Queens,NaN,NaN,NaN,...,0,0,0,1,1,1,1,1,2014-01-03T00:00:00.000,2014-01-03T00:00:00.000

Now that we have all of the data, I used the .info method to review the empty rows and datatypes.

In [5]:
all_results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7637 entries, 0 to 7636
Data columns (total 41 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   project_id                     7637 non-null   object
 1   project_name                   7637 non-null   object
 2   project_start_date             7637 non-null   object
 3   building_id                    6108 non-null   object
 4   house_number                   7637 non-null   object
 5   street_name                    7637 non-null   object
 6   borough                        7637 non-null   object
 7   postcode                       6106 non-null   object
 8   bbl                            6052 non-null   object
 9   bin                            6052 non-null   object
 10  community_board                7637 non-null   object
 11  council_district               7637 non-null   object
 12  census_tract                   6106 non-null   object
 13  neighborhood_tabulation_area   6106 non-null   object
 14  latitude                       6106 non-null   object
 15  longitude                      6106 non-null   object
 16  latitude_internal              6044 non-null   object
 17  longitude_internal             6044 non-null   object
 18  reporting_construction_type    7637 non-null   object
 19  extended_affordability_status  7637 non-null   object
 20  prevailing_wage_status         7637 non-null   object
 21  extremely_low_income_units     7637 non-null   object
 22  very_low_income_units          7637 non-null   object
 23  low_income_units               7637 non-null   object
 24  moderate_income_units          7637 non-null   object
 25  middle_income_units            7637 non-null   object
 26  other_income_units             7637 non-null   object
 27  studio_units                   7637 non-null   object
 28  _1_br_units                    7637 non-null   object
 29  _2_br_units                    7637 non-null   object
 30  _3_br_units                    7637 non-null   object
 31  _4_br_units                    7637 non-null   object
 32  _5_br_units                    7637 non-null   object
 33  _6_br_units                    7637 non-null   object
 34  unknown_br_units               7637 non-null   object
 35  counted_rental_units           7637 non-null   object
 36  counted_homeownership_units    7637 non-null   object
 37  all_counted_units              7637 non-null   object
 38  total_units                    7637 non-null   object
 39  project_completion_date        6004 non-null   object
 40  building_completion_date       6100 non-null   object
dtypes: object(41)
memory usage: 2.4+ MB

Because I want to map, I started by checking the data structure for the three potentially relevant columns that could be used to tie to the NYC GeoJson data that we used in class earlier in the semester the link to which is below.<br>[City of New York GeoJSON data](https://data.cityofnewyork.us/resource/jp9i-3b7y.geojson)

In [17]:
geo_df = all_results_df[['community_board','census_tract','neighborhood_tabulation_area']]
geo_df.sample(25)

     community_board census_tract neighborhood_tabulation_area
3324           BK-08          207                       BK0801
144            BK-06        11901                       BK0601
7295           MN-09          227                       MN0903
6353           SI-01          NaN                          NaN
872            BK-17          830                       BK1702
5400           BX-06          359                       BX0601
1931           BK-05         1134                       BK0502
2808           BK-03          273                       BK0302
5018           QN-03          NaN                          NaN
5756           MN-10          208                       MN1002
1773           BK-17          782                       BK1702
3026           BK-17          784                       BK1702
147            BK-16        36502                       BK1601
5958           BK-05       107001                       BK0504
115            QN-01           83                       QN0102
7589           QN-06          NaN                          NaN
408            BX-04          225                       BX0403
1828           BX-04          199                       BX0402
4577           QN-10          NaN                          NaN
4371           BK-07          NaN                          NaN
2806           BK-03          273                       BK0302
3175           BX-10        46207                       BX1004
6565           MN-09        23501                       MN0903
4156           QN-14          NaN                          NaN
2857           MN-07          195                       MN0703

What we see from the above as well as the .info() readout, is that the community_board column offers the best option for being able to connect with the GeoJSON data which contains a 'boro_cd' key. With this affordability dataset, as was the case with our Lecture 18 data, we will need to do a little manipulation to be able to get the format exactly the way the GeoJSON data looks. Fortunately, we can see from the info readout that the community board column in this data has no null values.

In [21]:
def recode_borocd_counts(row):
    board = row["community_board"]

    if board.startswith("U"):
        return "Invalid BoroCD"

    num = board[3:]

    if "MN" in board:
        return "1" + num
    elif "BX" in board:
        return "2" + num
    elif "BK" in board:
        return "3" + num
    elif "QN" in board:
        return "4" + num
    elif "SI" in board:
        return "5" + num
    else:
        return "Invalid BoroCD"

In [22]:
sample_row = geo_df.iloc[0]
sample_row

community_board                  BK-02
census_tract                         1
neighborhood_tabulation_area    BK0201
Name: 0, dtype: object

In [23]:
recode_borocd_counts(sample_row)

'302'

Now that I can see that the function is producing the community district code I want, I

In [24]:
all_results_df['boro_code'] = all_results_df.apply(recode_borocd_counts, axis=1)

In [25]:
all_results_df

,project_id,project_name,project_start_date,building_id,house_number,street_name,borough,postcode,bbl,bin,...,_5_br_units,_6_br_units,unknown_br_units,counted_rental_units,counted_homeownership_units,all_counted_units,total_units,project_completion_date,building_completion_date,boro_code
0,68806,CADMAN PLAZA NORTH INC.PLP.FY24,2024-06-28T00:00:00.000,297417,140,CADMAN PLAZA WEST,Brooklyn,11201,3002120001,3001548,...,0,0,0,251,251,251,251,NaN,NaN,302
1,69431,LOS SURES SIP HDFC.GHPP.FY24,2024-06-28T00:00:00.000,234667,747,DRIGGS AVENUE,Brooklyn,11211,3024190007,3063130,...,0,0,0,21,0,21,21,NaN,NaN,301
2,69431,LOS SURES SIP HDFC.GHPP.FY24,2024-06-28T00:00:00.000,302578,262,GRAND STREET,Brooklyn,11211,3023940020,3062814,...,0,0,0,23,0,23,23,NaN,NaN,301
3,69431,LOS SURES SIP HDFC.GHPP.FY24,2024-06-28T00:00:00.000,371841,249,SOUTH 1 STREET,Brooklyn,11211,3023950025,3062831,...,0,0,0,17,0,17,17,NaN,NaN,301
4,69431,LOS SURES SIP HDFC.GHPP.FY24,2024-06-28T00:00:00.000,371960,184,SOUTH 2 STREET,Brooklyn,11211,3024190009,3063131,...,0,0,0,18,0,18,18,NaN,NaN,301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7632,55697,CONFIDENTIAL,2014-01-14T00:00:00.000,NaN,----,----,Brooklyn,NaN,NaN,NaN,...,0,0,1,1,1,1,1,2014-01-14T00:00:00.000,2014-01-14T00:00:00.000,318
7633,55773,CONFIDENTIAL,2014-01-10T00:00:00.000,NaN,----,----,Staten Island,NaN,NaN,NaN,...,0,0,1,1,1,1,1,2014-01-10T00:00:00.000,2014-01-10T00:00:00.000,501
7634,57341,CONFIDENTIAL,2014-01-10T00:00:00.000,NaN,----,----,Staten Island,NaN,NaN,NaN,...,0,0,1,1,1,1,1,2014-01-10T00:00:00.000,2014-01-10T00:00:00.000,502
7635,55647,CONFIDENTIAL,2014-01-07T00:00:00.000,NaN,----,----,Brooklyn,NaN,NaN,NaN,...,0,0,1,1,1,1,1,2014-01-07T00:00:00.000,2014-01-07T00:00:00.000,307
7636,55759,CONFIDENTIAL,2014-01-03T00:00:00.000,NaN,----,----,Queens,NaN,NaN,NaN,...,0,0,1,1,1,1,1,2014-01-03T00:00:00.000,2014-01-03T00:00:00.000,406

In [26]:
all_results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7637 entries, 0 to 7636
Data columns (total 42 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   project_id                     7637 non-null   object
 1   project_name                   7637 non-null   object
 2   project_start_date             7637 non-null   object
 3   building_id                    6108 non-null   object
 4   house_number                   7637 non-null   object
 5   street_name                    7637 non-null   object
 6   borough                        7637 non-null   object
 7   postcode                       6106 non-null   object
 8   bbl                            6052 non-null   object
 9   bin                            6052 non-null   object
 10  community_board                7637 non-null   object
 11  council_district               7637 non-null   object
 12  census_tract                   6106 non-null   object
 13  neighborhood_tabulation_area   6106 non-null   object
 14  latitude                       6106 non-null   object
 15  longitude                      6106 non-null   object
 16  latitude_internal              6044 non-null   object
 17  longitude_internal             6044 non-null   object
 18  reporting_construction_type    7637 non-null   object
 19  extended_affordability_status  7637 non-null   object
 20  prevailing_wage_status         7637 non-null   object
 21  extremely_low_income_units     7637 non-null   object
 22  very_low_income_units          7637 non-null   object
 23  low_income_units               7637 non-null   object
 24  moderate_income_units          7637 non-null   object
 25  middle_income_units            7637 non-null   object
 26  other_income_units             7637 non-null   object
 27  studio_units                   7637 non-null   object
 28  _1_br_units                    7637 non-null   object
 29  _2_br_units                    7637 non-null   object
 30  _3_br_units                    7637 non-null   object
 31  _4_br_units                    7637 non-null   object
 32  _5_br_units                    7637 non-null   object
 33  _6_br_units                    7637 non-null   object
 34  unknown_br_units               7637 non-null   object
 35  counted_rental_units           7637 non-null   object
 36  counted_homeownership_units    7637 non-null   object
 37  all_counted_units              7637 non-null   object
 38  total_units                    7637 non-null   object
 39  project_completion_date        6004 non-null   object
 40  building_completion_date       6100 non-null   object
 41  boro_code                      7637 non-null   object
dtypes: object(42)
memory usage: 2.4+ MB

In [29]:
list = [
    'project_id',
    'project_name',
    'project_start_date',
    'building_id',
    'community_board',
    'extremely_low_income_units',
    'very_low_income_units',
    'low_income_units',
    'moderate_income_units',
    'middle_income_units',
    'other_income_units',
    'total_units',
    'boro_code'
]
trimmed_df = all_results_df[list]

In [30]:
trimmed_df

,project_id,project_name,project_start_date,building_id,community_board,extremely_low_income_units,very_low_income_units,low_income_units,moderate_income_units,middle_income_units,other_income_units,total_units,boro_code
0,68806,CADMAN PLAZA NORTH INC.PLP.FY24,2024-06-28T00:00:00.000,297417,BK-02,21,228,1,0,0,1,251,302
1,69431,LOS SURES SIP HDFC.GHPP.FY24,2024-06-28T00:00:00.000,234667,BK-01,0,16,5,0,0,0,21,301
2,69431,LOS SURES SIP HDFC.GHPP.FY24,2024-06-28T00:00:00.000,302578,BK-01,2,14,7,0,0,0,23,301
3,69431,LOS SURES SIP HDFC.GHPP.FY24,2024-06-28T00:00:00.000,371841,BK-01,2,11,3,0,0,1,17,301
4,69431,LOS SURES SIP HDFC.GHPP.FY24,2024-06-28T00:00:00.000,371960,BK-01,1,13,3,0,0,1,18,301
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7632,55697,CONFIDENTIAL,2014-01-14T00:00:00.000,NaN,BK-18,0,0,0,0,1,0,1,318
7633,55773,CONFIDENTIAL,2014-01-10T00:00:00.000,NaN,SI-01,0,0,0,0,1,0,1,501
7634,57341,CONFIDENTIAL,2014-01-10T00:00:00.000,NaN,SI-02,0,0,1,0,0,0,1,502
7635,55647,CONFIDENTIAL,2014-01-07T00:00:00.000,NaN,BK-07,0,0,0,0,1,0,1,307
7636,55759,CONFIDENTIAL,2014-01-03T00:00:00.000,NaN,QN-06,0,0,0,0,1,0,1,406